.user{
    background-color: #433352;
    border-radius: 10px;
    padding: 10px;
    transition-duration: .2s;
    cursor: pointer;
    &:hover,
    &.active{
        background-color: #9965DD;
        color: #000;
    }
    img{
        width: 40px;
        border-radius: 50%;
    }
}