.popUp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.8);
    .box{
        width: 400px;
        background-color: #433352;
        padding: 20px;
        border-radius: 15px;
        textarea{
            resize: none;
        }
        .buttons{
            button{
                color: #fff;
                &.create{
                    background-color: #9965DD;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .popUp{
        .box{
            width: 300px;
        }
    }
}
@media (min-width: 577px) and (max-width: 1300px) {
    .popUp{
        .box{
            width: 400px;
        }
    }
}